#Header {
 /* background-image: url("Media/Header_Pages1.png");
  background-size: cover; */
  height:60vh;
  width: 100%
}
.container {
  margin-top: 20px;
}
 .logs {
/*  border: solid red 5px; */
  overflow: scroll;
  height: 1200px;
}
.main {
  /* border: solid blue 5px; */
  overflow: scroll;
  height: 1200px;
}
#footer {
  background-color: darksalmon;
	padding-bottom: 0;
	padding-top: 25px;
}
#Copyright {
	text-align: right;
	
}